[gerrit]
    basePath = git
    canonicalWebUrl = http://ci.localdomain:8080
[database]
    type = H2
[auth]
    type = DEVELOPMENT_BECOME_ANY_ACCOUNT
[container]
    user = gerrit
[sshd]
    listenAddress = *:29418
[httpd]
    listenUrl = http://*:8080
[sendemail]
    enable = false
[cache]
    directory = cache
